

@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/RobotoMono-Regular.woff2") format("woff2"),
        url("/fonts/roboto/RobotoMono-Regular.woff") format("woff"),
        url("/fonts/roboto/RobotoMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  /* Import Roboto Italic */
@font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-Italic.woff2") format("woff2"),
         url("/fonts/roboto/Roboto-Italic.woff") format("woff"),
         url("/fonts/roboto/Roboto-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
  }
  
  /* Import Roboto Bold */
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/RobotoMono-Bold.woff2") format("woff2"),
         url("/fonts/roboto/RobotoMono-Bold.woff") format("woff"),
         url("/fonts/roboto/RobotoMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }
  
  /* Import Roboto Bold Italic */
  @font-face {
    font-family: "Roboto";
    src: url("/fonts/roboto/Roboto-BoldItalic.woff2") format("woff2"),
         url("/fonts/roboto/Roboto-BoldItalic.woff") format("woff"),
         url("/fonts/roboto/Roboto-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
  }
  
  /* Ajoutez d'autres variantes de Roboto*/